<header ng-switch on="$location.path().indexOf('/Ploufs/new') > -1">
    <h3 ng-switch-when="true">Create a new Plouf</h3>
    <h3 ng-switch-when="false">View or edit Plouf</h3>
</header>
<form id="PloufForm" name="PloufForm" class="form-horizontal" role="form">
    


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="savePlouf" name="savePlouf" class="btn btn-primary" ng-disabled="isClean() || PloufForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deletePlouf" name="deletePlouf" class="btn btn-danger" ng-show="plouf.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>